@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

body {
  background-color: #bcf2bc;
  font-family: "Fira Sans";
  margin: 0;
}

#join {
  width: 50vw;
  max-width: 500px;
  margin: auto;
  margin-top: 10vh;
  background-color: #fff;
  padding: 2em;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12), 0px 1px 4px rgba(0, 0, 0, 0.12);
}

.form {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid grey;
  width: 100%;
  padding: 5px;
  font-size: 20px;
  margin-bottom: 1em;
  font-family: "Fira Sans";
}
.form:focus {
  border-bottom: 1px solid #bcbcf2;
}
.form:focus::placeholder {
  color: #bcbcf2;
}

.btn {
  border: none;
  background-color: #bcbcf2;
  color: #fff;
  font-size: 20px;
  padding: 3px;
  width: 100px;
  float: right;
  font-family: "Fira Sans";
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12), 0px 1px 4px rgba(0, 0, 0, 0.12);
}
.btn:hover {
  background-color: #c9c9f4;
}

#chat {
  display: none;
  width: 80vw;
  margin: auto;
  background-color: #fff;
  height: 100vh;
  border-radius: 2px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12), 0px 1px 4px rgba(0, 0, 0, 0.12);
}

#messages {
  padding: 5px;
  padding-left: 1em;
  height: calc(100% - 100px);
  border-bottom: 2px solid black;
}

#messages .user {
  color: darkblue;
  margin-right: 1em;
}

#bottom {
  width: 90%;
  margin: auto;
  padding: 1em;
}
